.container {
    /* display: flex; */
    align-items: center;
    width: 100%;
    height: 98%;
    place-content: center;
    background-color: #ecf0f5;
    font-size: small;
    text-align: -webkit-center;
}

.titleContainer{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 0.4rem;

}

.containerInputText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45rem;
}
.col1{
    display: flex;
    padding:20px;
    /* flex-flow: column; */
    align-items: center;
}
.col1 input {
    margin: 1.2rem;
    width: 18rem;
    margin-bottom: 0.4;

}
.col2{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.col2 input {
    margin: .5rem;
    width: 18rem;
    margin-bottom: 0.4;   
}

.inputSelect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45rem;
}
.inputSelect select{
    width: 18rem;
    margin: .5rem;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    margin: 3px;
    align-items: center;
    border-top: 2px solid #3c8dbc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #80808029;
    box-shadow: 1px;
    background-color: #ffff;
    width: 95%;

}
.error {
    color: red;
    font-size: small;
    /* margin-bottom: .1rem; */
}
.inputError{
    border: 1px solid red;
    margin-bottom: 0;
}
.inputCheck{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inputCheck span{
    margin-right: 0.25rem;
    font-weight: 600;
}

/* .inputCheck input {
    width: 1rem;
    height: 1rem;
    background-color: red;
} */
.containerInputText span {
    font-weight: 600;
}
.inputSelect span {
    font-weight: 600;
}
.title{
    margin: auto;
    color: black;
    width: 20rem;
}
.btn{
 margin-top: .2rem;
 width: 7rem;
 height: 24px ;
 line-height: normal ;
 padding: 0.2rem;
 border: none;
 background-color: #3c8dbc;
 border-radius: 10px;
 box-shadow: none;
 color: white;

}
.hr{
    width: 30rem;
    opacity: 0.5;
   }



.btn:hover{
    opacity: 0.8;
}
