.container
{   /* background-color: aliceblue; */
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.title
{   
    border-radius: 2.5px;
    text-align: start;
    text-indent: 15px;
    color:black;
/*     background-color: ghostwhite; */
    height: 95%;
    border-top: solid 3px navy;
    padding-top:1rem;
}
 thead
{   
    position: sticky;
    z-index: 0;
    top: 0;
    color:black;
    background: ghostwhite ;
}
tbody
{   
    background-color: #fff;
}
.checkbox
{
    text-align: center;
    height: 18px;
    width: 18px;
}

/*---------------------------FORM CONTAINER-----------------------------*/
.formContainer
{
    background-color: #fff;
    width: 30rem;
    height: auto;
    margin-top:-10px;
    padding: 0.5rem 0.5rem 0.5rem;
    margin: auto ;
    display: grid;
    align-items: center;
    justify-content: center;
}
.formContainer input{
margin: auto;
}
.formContainer button {
    width:auto;
    margin: auto;
    margin-top: 10px;
}

/* ----------------------BUTTONS---------------------- */
.buttonContainer
{
    /* margin:auto; */
    margin-top: 2px;
    width: 40%;
    height: 30px;
    border-radius: 10px;
    display: block;
    justify-content: space-between;
}

.buttonContainer button
{   
    border-radius: 10px;
    margin:10px;
    width:80px;
    padding: 0.2px ;
    height: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: normal;
    border:groove 1px;
    color: #fff;
    background-color: #5a99bd;
}
.pageIndex{
    font-size: 11px;
    margin: 10px;
    justify-content: space-between;
}

.pageButton
{   
    border-radius: 10px;
    width:80px;
    height: 20px;
    margin: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    border:groove 0.5px;
    font-weight: bold;
    color: #fff;
    background-color: #3c8dbc;

}
.pageButton:disabled {
background-color: silver;
}

button:hover{
    opacity: 0.7;
}

.buttonRows{
    border-radius: 20px;
    border: solid 0px rgb(0, 0, 0);
    color: #fff;
    font-weight: bold;
    height: 20px;
    width: 80px;
    letter-spacing: 1px;
    margin: auto;
    font-size: 12px;
    vertical-align: middle;
    
}
/* -----------------------------FILTERS------------------------------- */
.filter{
max-width:60px;
}

.search{height:17px;
    max-width: 100px;
     border-radius: 10px;
      border: groove}

input[type="text"]:focus {
        border: 2px solid #862d59;
    }