.container
{   background-color: aliceblue;
    align-items: center;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.gerentesTitle
{   
    text-align: start;
    text-indent: 30px;
    color:white;
    background-color: Navy;
    height: 40px;
}



.scrollbar table
{   
    border-bottom: 0;
}

.scrollbar thead
{   
    position: sticky;
    z-index: 0;
    top: 0;
    width: 30px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid burlywood;
    color:black;
    background: ghostwhite ;
}


tbody
{   
    font-size: 15px;
    background-color: #fff;
}

td
{
    width: 20px;
}


.checkbox
{
    text-align: center;
    height: 20px;
    width: 20px;
}
/* .scrollbar
{
scrollbar-width: thin;
border-radius: 5px;
width: 100%;
z-index: -1;
height: 100%;
position: static;
overflow-y: hidden;
overflow-x: hidden;
}

.scrollbar:hover
{
overflow-y: auto;
overflow-x: auto;
} */

/* Scrollbar Style */ 



#style-1::-webkit-scrollbar-track
{
border-radius: 2px;
}

#style-1::-webkit-scrollbar
{
width: 5px;
background-color: #3f3d3d;
}

#style-1::-webkit-scrollbar-thumb
{
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #ecebeb;
}
/* Scrollbar End */ 



/*---------------------------FORM CONTAINER-----------------------------*/
.formContainer
{
    background-color: #fff;
    width: 30rem;
    height: auto;
    margin-top:-10px;
    padding: 0.5rem 0.5rem 0.5rem;
    margin: auto ;
    display: grid;
    align-items: center;
    justify-content: center;
}
.formContainer input{
margin: auto;
}
.formContainer button {
    width:auto;
    margin: auto;
    margin-top: 10px;
}

/* ----------------------BUTTONS---------------------- */
.buttonContainer
{
    margin:auto;
    margin-top: 2px;
    width: 90%;
    height: 30px;
    border: solid 1px rgb(0, 0, 0);
    
    justify-content: space-between;
}

.buttonContainer button
{   
    border-radius: 10px;
    margin:20px;
    margin-top:0px;
    width:100px;
    border:solid 0.5px;
}

.buttonRows{
    border-radius: 10px;
    border: solid 0px rgb(0, 0, 0);
    height: 28px;
    width: 28px;
    margin: auto;
}

/* .buttonRows:hover::after {
    content: "Modificar" ;
    position: absolute ;
    top: 1.1em ;
    left: 1em ;
    min-width: 200px ;
    border: 1px #808080 solid ;
    padding: 8px ;
    color: black ;
    background-color: #cfc ;
    z-index: 1 ;
  } */