.container {
    height: 100vh;
}

.inputFilterColumn{
    width: 7rem;
    height: 1.2rem;
    padding: 0.6em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.buttonRows.disabled{
    background-color: gray;
}
.buttonRows.modify{
    background: #3dc254bf; 
    cursor: pointer; 
}

.buttonRows.delete{
    background: red; 
    cursor: pointer; 
    width: 48px
}
.plusCircle {
    width: 2rem;
    margin-right: 20px;
    margin-bottom: 20px;
    height: 2rem;
    cursor: pointer;
}

.buttonRows{
    border-radius: .3em;
    border: solid 0px rgb(0, 0, 0);
    color: #fff;
    height: 1.8em;
    width: 8em;
    margin: .6em; 
    font-size: .9em;
    
}


.inputDate {
    max-width: auto;
    max-height: 2rem;
    border: none;
    background: none;
}
.buttonAddContainer {
    display: flex;
    justify-content: flex-end;
    height: 2.4rem;
}

.pageButton
{   
    
    border-radius: .3em;
    width:6em;
    height: 1.8em;
    margin: 1em;
    font-size: .8em;
    border: none;
    color: #fff;
    background-color: #3c8dbc;

}

.pageButton:disabled {
background-color: silver;
}