.item{
    background-color: #a9a9a91f;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    width: 60rem;
    padding: 10px;
    text-align-last: start;
}

.text{
    margin-left: 8px;
    font-weight: 600;


}
.span{
    width: 10rem;
    font-size: 12px;
}
.subItem{

    margin-left: 5px;
    padding: 5px;
    margin-top: 8px;
    text-align-last: start;
}

.arrow{
    transform : rotateZ(180deg);
    transition: linear 250ms;
    
  }

  .arrowDown{
    transform : rotateZ(0deg);
    transition: linear 250ms;

  }

  .tooltipText {
    visibility: hidden;
    display: none;
    z-index: 1;
    width: 123px;
    color: white;
    padding: 6px;
    text-align-last: center;
    font-size: 10px;
    background-color: #000616f0;
    border-radius: 5px;
  }
  .hoverText {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .hoverText:hover .tooltipText {
    visibility: visible;
    display: inline-block;
  }

  .attr[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -100%;
    left: 0;
  }
