.container{
    display: flex;
    justify-content: center;
}

.searchForm{
    width: 30rem;
    height: 16rem;
    align-self: center;
    text-align: -webkit-center;
    box-shadow: 1px 1px 4px 1px #00000038;
    padding: 3rem;
    background: #0000000a;
}
.searchButton{
    margin-top: 2rem;
    border: none;
    font-size: small;
    padding: 0.5rem;
    border-radius: 2px;
    background-color: #3c8dbc;
    color: white;
}

.searchButtonDisabled{
    margin-top: 2rem;
    border: none;
    font-size: small;
    padding: 0.5rem;
    border-radius: 2px;
    background-color: #343a3d9d;
    color: white;
}

.searchButton:hover{
    background-color: #1971a4
}

.inputForm{
    display: flex;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.inputForm span{
    width: 7rem;
    font-size: small;
}

.inputForm input{
    height: 20px; 
    width: 15rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: small;
}
.inputForm select{
    height: 20px;
    width: 15rem;    
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: small;
}

.optionTr{
    display: flex; 
    width: 16rem;
    cursor: pointer;

}

.optionTr:hover{
    background-color: rgba(128, 128, 128, 0.352);
}

.formSectionContainer{
    
    box-shadow: 1px 1px 4px 1px #00000038;
    background: #0000000a;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

.formSectionContainer h4 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background: gray;
    color: white;
    border-radius: 3px;
    padding: 0.5rem;
}
.sectionScoring{
    display: flex;
}
.scoringTitle{
    width: 100%;
    text-align: -webkit-center;
    background: gray;
    color: white;

}
.formSection4x2{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.formSection4x3{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.formSection2x4{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.formSection2x6{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.formSection2x8{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.formSection2x10{
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.formSection4x4{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.formSection2x1{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.formSection1x1{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr ;
}
.formSection3x1{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.formSection1x2{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.formSection2x2{
    display: grid;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}


.section {
    display: flex;
    justify-content: space-between;
}

.formItem {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: small;
}
.formItemCheck{
    
    display: flex;
    column-gap: .5rem;
    font-size: small;
    
    align-items: center;
 
}
.buttonContainer{
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
    font-size: 10px;
}
.buttonContainer2{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;

}

.submitButton{
    border: none;
    padding: 0.2rem;
    font-size: 10px;
    border-radius: 2px;
    background-color: #3c8dbc;
    color: white;
}

.submitButton:disabled{
    background-color: gray;
}

.checkboxAnulada:checked{
 accent-color: red;
}

.formItem{
    font-size: 12px;
}
.formItem input{
    width: 100%;
}

.formItem select{
    width: 100%;
}



@media screen and (max-width: 1170px) {
    .formSection4x3{
      grid-template-columns: 1fr;
    }
    .formSection1x2{
        grid-template-columns: 1fr;
    }
    .formSection4x4{
        grid-template-columns: 1fr;
      }
  }

  @media screen and (max-width: 800px) {
    .section .formItem input{
        width: inherit;
    }
    .section .formItem select{
        width: inherit;
    }
  }