.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    place-content: center;
    font-size: small;
    text-align: -webkit-center;
    overflow: auto;
}
.form{
    /* display: flex; */
    align-items: center;
    flex-direction: column;
    border-top: 0.3em solid #d2d6de;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #80808029;
    box-shadow: 1px;
    background-color: #ffff;
    max-width:95%;
    min-width: 95%;
    padding:.7em;

}

.titleContainer{
    display: flex;
    margin-top: 1rem;
    justify-content: start;
    line-height: normal;
    align-items: right;
    height: 2rem;

}

.containerInputText{
    margin-left: calc(8rem);
    margin-right: calc(8rem);
    display: grid;
    /* grid-template-columns: 4fr 0fr; */
}
.col1{
    /* padding:10px; */
    display: flex;
    flex-flow: column;
    align-items: center;
}
.col1 div {
    display: flex;
    flex-direction: column;
}
.col2 div {
    display: flex;
    flex-direction: column;
}
/* input {

    max-width: auto;
    max-height: 4em;
    font-size:medium;
    text-align: -webkit-start;

} */


.inputSelect{
    display: grid;
    gap:.8em;
    grid-template-columns: 4fr 0fr;
    margin-left: 8rem;
    margin-right: 7.5rem;
}
select{
    max-width: auto;
    max-height:2rem;
    /* font-size: 1em; */
    /* margin: .5rem; */
}
.containerInputText select{
    width: 15rem;
    height:2.4em;
    margin: .5rem;
}
.containerInputText input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"]{
        max-width: auto;
        max-height:2.2rem;
        text-align: start;
    }
.error {
    color: red;
    font-size: .7em;
    /* margin-bottom: 0rem; */
}
.inputError{
    border: 1px solid red;
    /* margin-bottom: 0; */
}
.inputCheck{
    display: flex;
    width: auto;
    justify-content: space-around;
}
.inputCheck div{
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
}
.inputCheck div input{
    align-self: center;
    width: 1.5em;
    height: 1.5em;
}

.inputCheck span{
    font-weight: 600;
    font-size: 1.1em;
}

.containerInputText span {
    font-weight: 600;
}
.inputSelect span {
    max-height:2rem;
    font-weight: 600;
    font-size: 1.1em;
}


.hr{
    width: 50%;
    opacity: 0.5;
    justify-content: center;
   }

.btn:hover{
    opacity: 0.8;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/*------------------------------RESPONSIVE DESIGN-------------------------------------*/

@media only screen and (max-width:750px){
    .containerInputText{
    margin-left: calc(3em);
    margin-right: calc(3em);
        
    }
    .inputSelect{
    margin-left: calc(3em);
    margin-right: calc(2.2em);
    }
    select{
        max-width: auto;
        max-height:5rem;
        /* margin: .5rem; */
    }
    
    
    

    .containerInputText input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"]{
        max-width: auto;
        max-height:2.8rem;
        text-align: start;
    }
    .error {
        color: red;
        font-size: 0.9em;
        font-weight: 600;
        /* margin-bottom: 0rem; */
    }

    
}