.container {
    width: 100%;
    height: 100%;
    place-content: center;
    background-color: #ecf0f5;
    font-size: small;
    text-align: -webkit-center;
}

.titleContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

}

.containerInputText{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45rem;
}
.col1{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.col1 input {
    margin: 1rem;
    width: 20rem;
    margin-bottom: 0.5;

}
.col2{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.col2 input {
    margin: 1rem;
    width: 20rem;
    margin-bottom: 0.5;   
}

.inputSelect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45rem;
}
.inputSelect select{
    width: 20rem;
    margin: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    border-top: 2px solid #3c8dbc;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #80808029;
    box-shadow: 1px;
    background-color: #ffff;
    width: 60rem;

}
.error {
    color: red;
    font-size: small;
    margin-bottom: 1rem;
}
.inputError{
    border: 1px solid red;
    margin-bottom: 0;
}
.inputCheck{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.inputCheck span{
    margin-right: 0.25rem;
    font-weight: 600;
}

.inputCheck input {
    width: 1rem;
    height: 1rem;
    background-color: red;
}
.containerInputText span {
    font-weight: 600;
}
.inputSelect span {
    font-weight: 600;
}
.title{
    margin: 0;
    color: black;
    margin-left: 4rem;
    width: 20rem;
}
.btn{
 margin-top: 2rem;
 width: 7rem;
 padding: 0.5rem;
 border: none;
 background-color: #3c8dbc;
 border-radius: 3px;
 box-shadow: none;
 color: white;

}
.hr{
    width: 30rem;
    opacity: 0.5;
   }



.btn:hover{
    background-color: #1971a4
}
