
  .menuBars {
    margin: auto;
    padding:auto;
    font-size: 1rem;
    color: #545e65;
    vertical-align: middle;
  }
  

  
  .menu {
    background-color: #f5f5f5;;
    height: 100vh;
    position: fixed;
    justify-content: center;
    z-index: 2;
    top: 0;
    transition: linear 250ms;
  }
  
  .menuActive {
    background-color: #f5f5f5;;
    height: 100vh;
    display: block;
    justify-content: center;
    position: fixed;
    z-index: 2;
    transition: linear 250ms;
  }

  /*--------------------NAV LINKS CONTAINERS---------------------*/


  

  .textDisabled {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    pointer-events:none; 
    opacity:0.6;
  }
  .text{
    user-select: none;
    text-decoration: none;
    /* margin-top:1em; */

    padding-bottom: .3em;
    cursor: pointer;
    font-size: .9em;
    height: 1.9rem;
    
  }
 
   .text span {
    text-decoration: none;
    color: #545e65;
    font-weight: bold;
    width: 90%;
    height: 100%;
    display: flex;
    font-size: 10px;
    /* align-items: center; */
    /* padding: 0 16px; */
    /* border-radius: 4px; */
    cursor: pointer;
  } 
  .text a {
    text-decoration: none;
    color: #545e65;
    font-size: 1em;
    width: 95%;
    height: 100%;
    display: flex;
    /* align-items: center; */
    /* border-radius: 4px; */
    cursor: pointer;
  } 



  
  .text:hover {
    background-color: #e4e1e1;
    color: #3483fa;
  }
  .text svg{
    color: #6b7780;
    line-height: normal;
 
   }


  /*---------------------------SUBMENU NIVEL 1----------------------------------*/
  .nav-text{
    user-select: none;
    width:15em;
    line-height: normal;
    display: flex;
    margin-bottom: 0.2rem;
    color: #545e65;
    cursor: pointer;
    text-align: start;
    justify-content: space-between;
  }

  .menuItems {
    width: 100%;}

.nav-text span svg{
  display: inline-block;
  width: 1.3rem;
  height: 1.8rem;
  margin-left: .8em;
   /* margin-top: 2px;  */
   /* margin-bottom: 5px; */
}
.nav-text span {
  font-size: .6em;
  font-weight: bold;
  width: 100%;
  height: 1.6rem;
  display: flex;
/*   align-items: center; */
  padding: 0 1em ;
  cursor: pointer;

}
.nav-text2 span svg{
  display: inline-block;
  width: 1.3rem;
  height: 1.8rem;
  margin-left: .7em;
   /* margin-top: 2px;  */
   /* margin-bottom: 5px; */
}
.nav-text2 span {
  font-size: .6em;
  font-weight: bold;
  width: 100%;
  height: 1.6rem;
  display: flex;
/*   align-items: center; */
  padding: 0 1em ;
  cursor: pointer;

}
  
/*-----------------------------SUBMENU NIVEL 2-------------------------------*/
.sidebarContent{
  margin-left: 1.5em;
  margin-top: .3em;
  margin-bottom: .4em;
  border-left: solid 4px #3483facc ;
  transition: linear 300ms; 
}

.textOpen > .sidebarContent{
  width:100%;
  height: auto;
  font-weight: 600;
  cursor: pointer;
}

.subMenuL2{
  user-select: none;
  font-size: 0.8em;
/*   width:10em; */
  height:2.5em;
  text-align: start;
  margin-left: 0.5em;
  display: flex;
  line-height: 1.2;
}

.subMenuL2:active{
  color:#aac8f5;
  /* text-align: start; */
  /* line-height: normal; */
}

.subMenuL2:hover{
  color:#3483fa;
  text-align: start;
  /* line-height: normal; */
}
.subMenuL2 svg{
  font-size: 1.1em;
  line-height: normal;
}
.subMenuL2 a{
 padding-top: .5rem;
/*   width:9em; */
  height:1.5em;
  font-size: 1.3em;
  text-align: start;
}
.nav-text2{
  -webkit-user-select: none;
    user-select: none;
    width: 15em;
    align-items: center;
    display: flex;
    margin-bottom: 0.2rem;
    color: #545e65;
    cursor: pointer;
    text-align: start;
    font-size: 1.1em;
}
/* SUBMENU DISABLED */
.textOpen p {
text-decoration: none;
font-size: 0.7em;
/* max-width: 70%; */
height: 1.5em;
display: flex;
text-align: left;
align-items: start;
margin-left: 0.8em;
cursor: pointer;
font-weight:400
} 





  /*------------------------FLECHAS TOGGLE-----------------------------*/
  .arrow{
    transform : rotateZ(180deg);
    transition: linear 250ms;
    
  }

  .arrowDown{
    transform : rotateZ(0deg);
    transition: linear 250ms;

  }
  .toggle {
    background-color: #f5f5f5;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 300ms;

  }
  
 

  .option{
    color: white;
  }

  /*------------------ESTILOS BARRA CERRADA--------------------*/
  .sidebar{
      flex-shrink: 0;
      background-color: #f5f5f5;
      height: 75.6vh;
      overflow-y: hidden;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      place-content: space-between;
    
  }
  .sidebar:hover{
    overflow-y: scroll;
    overflow-x: hidden;
  
  
}

 


  .sidebar::-webkit-scrollbar {
    width: 6px;               /* width of the entire scrollbar */
  }
  
  .sidebar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.866);        /* color of the tracking area */
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    background-color: #545e65;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }

  /*---------------PANEL INFERIOR(OPCIONES USUARIO)-------------------*/
  .navbar {

    background-color: #f5f5f5;
      height: 9%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all linear 250ms;
    }
    
  .logOut {
    background: none;
    border: none;
    border-radius: 0.7em;
    font: inherit;
    line-height: 1;
    color: #ff7f82;
   
  }
  .logOut:hover {
    background-color: #ff7f82;
    transition: 500ms;
    margin: auto;
    color: black;
  }

  .username p{
    display: block;
    align-items: center;
    color: #545e65;
    font-weight: bold;
    margin: 1px;
    text-indent: 12px;
    text-align: start;
   
  }

  .username svg {
    color: #545e65;
    width: 4rem;
    height: 4rem;
  }
  