.container {
  text-align: center;
}
.addButtonContainer{
  display: flex;
  justify-content: flex-end
}
.container nav{
  position: inherit;
  margin-bottom: 1rem;
}

.listasContainer{
  text-align: -webkit-center;
}
.item{
    background-color: #a9a9a91f;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;
    width: 60rem;
    align-items: center;
    padding: 10px;
    text-align-last: start;
}
.item button {
  font-size: .8em;
}

.inputFilter {
  margin-bottom: 0.8em;
  padding: 0.2em;
  font-size: 13px;
  height: 2em;

}

.text{
    margin-left: 8px;
    font-weight: 600;


}
.span{
    width: 10rem;
    font-size: 12px;
}
.subItem{

    margin-left: 5px;
    padding: 5px;
    margin-top: 8px;
    text-align-last: start;
}

.arrow{
    transform : rotateZ(180deg);
    transition: linear 250ms;
    
  }

  .arrowDown{
    transform : rotateZ(0deg);
    transition: linear 250ms;

  }


