.selects {
    max-width: 45rem;
    min-width: 45rem;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background: white;

    border-radius: 0.25rem;
}

.selectContainer {
    text-align: -webkit-center;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;

}

.selectGrid {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    align-items: flex-end;
}

.selectGrid div {
    text-align: start;

}

.item {
    background-color: #a9a9a91f;
    cursor: pointer;
    border-radius: 4px;
    margin: 5px;

    align-items: center;
    padding: 10px;
    text-align-last: start;
}

.noHeader th {
    width: 2.3rem;
    max-width: 2.3rem;
    min-width: 2.3rem;
}

.tdNumber {
    text-align-last: end;
}

.tableDetalle {
    margin-top: 2rem;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 1rem;
    height: auto;
    max-height: 20rem;

}

.tableDetalle th {
    padding: 1rem;
    background: #0c0c0ca8;
    color: white;
    font-weight: 100;
    text-align-last: center;
}

.tableDetalle td {
    border: 1px solid #00000021;
    font-size: 0.7em;
    text-align-last: center;
}

.buttonOperacion {
    padding: 0.25rem 0.3rem 0.25rem 0.3rem;
    border: none;
    background-color: #3c8dbc;
    border-radius: 0.25em;
    box-shadow: none;
    min-width: 4.5em;
    color: white;
    margin: 0.2em;
    font-size: .9em;
}

.headerFixed {
    position: sticky;
    top: 0;
}



.title{
    text-align-last: center;
    background-color: #f0efef;
    font-size: 10px;
    font-size: bold;
    color: black;
}


.dataGrid{
    margin: 7px; 
    font-size: 9px;
}

 .columnIng {
    background-color: violet;
}

.columnProd{
    background-color: rgba(172, 255, 47, 0.599);
}

.columnTot1{
    background-color: rgba(255, 255, 0, 0.504);
}

.columnTot2{
    background-color: rgba(255, 166, 0, 0.619);
}

